*.pyc
.kateproject
.kateproject.d/*
settings_local.py
.*~
.~*
env-local
env-kube
pytz
*.kate-swp
.pytest-cache/
.pytest_cache/
__pycache__/
*/static_collected/*
.pdm-python
db.sqlite
test-results/
node_modules/
package.json
package-lock.json
settings_neondb.py
settings_vercel.py
.env
.config_status
.git0/
.vercel
.terraform/
